html{
    overflow-y:hidden;
    overflow-x:hidden;
}
.container_centraliza {
        width: 100vw;
        height: 100vh;
        background: linear-gradient(329.59deg, #4365c2 0%, #5b7dce 100%) no-repeat;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .box {
        width: 600px;
        background: #fff;
        border-radius: 5px;
    }
    body {
        margin: 0px;
    }
    input{ 
        text-align: center;
    }
    .ul_listar{
        text-align: left;
        margin: 20px;
        font-size: 25px;
    }
    botao_filtrar{
        margin-bottom: 5%;
    }
    
